// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-page {
	height: 500px;
	
	background-size: 50% 50%;
    background-repeat: no-repeat;
}